* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Raleway";
  src: url("@/assets//fonts/Raleway-Regular.ttf");
}

body {
  background: black;
  background-size: cover;
  background-position: center;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 420px;
  padding: 0 15px;
}
